<div class="flex flex-col sm:px-12 bg-gray-800 rounded-lg shadow-lg">
  <div class="flex flex-col sm:flex-row py-6">
    <div class="flex-none w-full h-40 sm:w-40 relative">
      <%= image_tag 'portrait-medium.jpg',
            alt: 'user',
            class: 'absolute inset-0 w-full h-full object-cover rounded-lg' %>
    </div>
    <div class="w-full flex flex-col items-end py-12 h-32">
      <a href="/users/<%= @user.id %>">
        <h2 class="font-bold text-3xl">
          <%= @user.name %>
        </h2>
      </a>
      <span class="font-light mb-4">@userName</span>
      <p class="text-gray-400">Number of posts:
        <span class="font-bold text-red-400">
          <%= @user.posts_counter %>
        </span>
      </p>
    </div>
  </div>
  <%# Posts %>
  <div class="flex flex-col py-6 gap-y-12">
    <% @posts.each do |post| %>
      <%= render 'index_post', post: post %>
    <% end %>
    <a href="/users/<%= @user.id %>/posts" class="bg-indigo-700 mx-auto w-max px-16 py-3 mb-6">Load more...</a>
  </div>
</div>
