<div class="flex flex-col sm:px-12 bg-gradient-to-br from-indigo-800 to-indigo-900 rounded-lg shadow-lg">
  <%# Posts %>
  <div class="flex flex-col pb-6 pt-12 gap-y-12">
    <article>
      <a href="/users/<%= @user.id %>/posts/<%= @post.id %>">
        <div class="flex flex-col">
          <div class="flex justify-between mb-4">
            <h2 class="font-bold text-3xl text-red-400 opacity-80 mb-4">
              <%= @post.title %>
            </h2>
            <div class="self-end flex gap-x-6 text-gray-400 text-opacity-75 mb-4">
              <p>Likes: 
                <span class="text-red-400">
                  <%= @post.likes_counter %>
                </span>
              </p>
              <p>Comments: 
                <span class="text-red-400">
                  <%= @post.comments_counter %>
                </span>
              </p>
            </div>
          </div>
          <p class="text-gray-400 mb-12">
            <%= @post.text %>
          </p>
        </div>
      </a>
      <% if can? :delete, @post %>
        <%= link_to 'Delete', user_post_path(@user, @post), method: :delete %>
      <% end %>
      
      <%# Comments %>
      <% comments = @post.comments.includes(:author) %>
      <div class="border-t border-opacity-20 mb-12"></div>
      <% comments.each do |comment| %>
        <%= render 'shared/post_comment', comment: comment %>
      <% end %>

      <%= render 'shared/new_comment' %>
    </article>
    <a href="/users/<%= @user.id %>/posts" class="bg-indigo-700 mx-auto w-max px-16 py-3 mb-6">Atrás</a>
  </div>
</div>
