<!DOCTYPE html>
<html>
  <head>
    <title>Blog on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-gray-900 px-8 text-white relative">
    <%= render "header" %>
    <section class="container min-h-[70vh]">
      <%= yield %>
    </section>
    <%= render "footer" %>
    <%= render "flash_notifications" %>
  </body>
</html>
