<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <a href="/">logo</a>
      <nav>
        <ul>
          <li><a href="/">users</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p>Developed by: D4nielJ</p>
      <p>Created using: Ruby on Rails and more.</p>
    </footer>
  </body>
</html>
